.contentContainer {
    color: black;
}

.productContainer {
    color: white;
    font-size: 18px;
}

.productInfo {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.productName {
    font-size: 34px;
}

.lineChart {
    background-color: rgba(127, 126, 255, 0.7);
    border-radius: 20px;
    height: 450px;
    color: var(--secondary);
}

.productInfo h3 {
    margin-top: 60px;
}
