.button {
    display: flex;
    align-items: center;
    height: 35px;
    width: 85px;
    margin: 5px auto;
    border-radius: 10px;
    border: 2px solid #B4B4B4FF;
}

.button p {
    margin: 0 auto;
    font-size: 15px;
}

.button a {
    margin: 0 auto;
    font-size: 13px;
}

.button:hover {
    cursor: pointer;
    font-size: 20px;
}


/*Desktop*/
@media (min-width: 800px) {
    .button {
        display: flex;
        align-items: center;
        height: 40px;
        width: 110px;
        margin: 0 auto;
        border-radius: 10px;
        border: 2px solid #B4B4B4FF;
    }


    .button p {
        margin: 0 auto;
        font-size: 16px;
    }

    .button a {
        margin: 0 auto;
        font-size: 18px;
    }

    .button:hover {
        cursor: pointer;
    }
}
