.button {
    color: var(--primary);
    background-color: var(--secondary);
    display: flex;
    align-items: center;
    height: 35px;
    width: 85px;
    margin: 5px auto;
    border-radius: 10px;
    border: 2px solid var(--primary);
}

.button p {
    margin: 0 auto;
    font-size: 15px;
}

.button a {
    margin: 0 auto;
    font-size: 15px;
}

.button:hover {
    cursor: pointer;
}


/*Desktop*/
@media (min-width: 800px) {
    .button {
        display: flex;
        align-items: center;
        height: 40px;
        width: 110px;
        border-radius: 10px;
        border: 2px solid var(--primary);
    }


    .button p {
        font-size: 16px;
    }

    .button a {
        font-size: 18px;
    }
}
