.hamburgerContent {
    width: 50%;
    height: 300px;
    position: absolute;
    top: 90px;
    right: 25%;
    z-index: 9;
    background-color: rgba(85, 40, 111, 0.95);
    border-radius: 10px;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
}

.navButtons {
    width: fit-content;
    margin: 0 auto;
}
